<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hamid.template">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCVb6DsNIKvC2hHWA7gDJelO0_MLJae7hI" />

        <activity
            android:name=".ui.mapScreen.ClientMapActivity"
            android:exported="true" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="demo" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.dashboard.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.loginAndRegister.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.onboarding.OnBoardingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.facilitiesPatiensts.FacilityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.checkList.CheckListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.fillForm.FillFormActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.todayTripDetails.TodayTripDetailsActivity" />
        <activity android:name=".ui.todayTripsList.TodayTripActivity" />
        <activity android:name=".ui.missingForms.MissingFormsActivity" />
        <activity android:name=".ui.medicationFormsList.MedicationFormsActivity" />
        <activity android:name=".ui.fillForm.OpenFormActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />
    </application>

</manifest>